.col-right{
    background-color: #FAFAFA;
    padding-right:  0 !important;
    padding-left:  0 !important;
    height: 100vh;
    width: 100%;
    overflow-y: auto ;
    
}
.head-chat{
    width: 75%;
    height: 5em;
    background-color: white;
    padding: 0 2em;    
    overflow: hidden;
    position: fixed;
    top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-chat {
    margin-top: 100px;
    margin-bottom: 100px;
}
.foot-chat{
    width: 100%;
    height: 5em;
    background-color: white;
    padding: 0 2em;    
    overflow: hidden;
    position: fixed;
    bottom: 0;           
}
.gr-1 > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 14px;
}
.gr-1{
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-left: 1em;
    
}
.gr-1 h4, .gr-1 p {
    margin-bottom: 0;
}
.gr-1-pro{
    margin-left: 15px;
}
.gr-2 {
    margin-right: 2em;
}
.gr-2 button{
    border: none;
    outline: none;
    background: none;
}
.chat-text{
    margin-top: 15px;
    background-color: #FAFAFA;
    border-radius: 10px;
}
.chat-text input{
    width: 60%;
    background: none;
    border: none;
    line-height: 42px;
    font-size: 24px;
    font-weight: 500;
    color: rgb(0,0,0,0.7);
}
.chat-text input[type=text]:focus{
    outline-color: #7e98df;
}
.chat-text button {
    background: none;
    border: none;
    outline: none;
    width: 45px;
}
.main-chat ul {
    padding-inline-start: 0;
    margin-bottom: 0;
    padding: 0 2em;
}
.cont-msg-rec, .cont-msg-send{
    display: flex;
    margin: 10px;
    height: min-content;
   
}
.cont-msg-send{
    justify-content: flex-start;
    align-items: flex-end;
}
.cont-msg-rec{
    justify-content: flex-end;
    align-items: flex-start;
}
.msg-send, .msg-rec {
    
    list-style-type: none;
    padding: 10px 2em;
    max-width: 50%;
}
.cont-msg-send > img, .cont-msg-rec > img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 14px;
    margin: 0 10px;
}
.msg-send{
    background-color: #7E98DF;
    font-weight: normal;
    font-size: 15px;
    line-height: 185.17%;
    letter-spacing: -0.165px;
    color: white;
    border-radius: 35px 35px 35px 10px;
}
.msg-rec{
    background-color: white;
    font-size: 15px;
    line-height: 185.17%;
    letter-spacing: -0.165px;
    color: #232323;
    border-radius: 35px 10px 35px 35px;
}
.spanlist > p{
    font-size: 12px;
    margin-bottom: 0;
    line-height: 15px;
}
